---
import Body from "../components/Body.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Content from "../components/Content.astro";
import { IoArrowForward } from "react-icons/io5";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <h1 class="font-mplus text-center">Bienvenido a mi portafolio</h1>
      <Content>
        <section>
          <p class="mb-8 indent-4">
            Soy un developer frontend, con un pasado cientifico 😂. Me gusta
            aprender algo nuevo cada día, por lo que me considero una persona
            curiosa. Mira algunos de mis humildes proyectos, conocimientos,
            aficiones y el equipo con el que trabajo. Espero dejar un granito de
            arena a la comunidad, pasate por mis redes sociales y mira como lo
            estoy haciendo 😁.
            <a
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              href="/"
              >Mas acerca de mí <IoArrowForward className="inline" />
            </a>
          </p>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
