---
import { IoChevronForward } from "react-icons/io5";
---

<div class="y-4 flex items-center gap-1">
  <a
    href="/"
    class="bg-orange-200 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
    >Home</a
  >
  <IoChevronForward className="opacity-50" />
  <span
    class="bg-orange-200 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
    ><slot />
  </span>
</div>
