<section class="relative mb-6 h-80 flex justify-center item-center">
  <div
    class="bg-cover bg-center absolute w-full h-full overflow-hidden opacity-30"
    style="background-image: url('/public/cover.jpg')"
  >
  </div>
  <div
    class="grid z-10 text-center px-8 drop-shadow-lg shadow-black place-content-center"
  >
    <div class="uppercase text-sm mb-4">Bienvenido a mi Portafolio</div>
    <div class="text-4xl font-mplus font-medium">
      Espero que estes teniendo un excelente día <span class="text-orange-500"
        >My friend</span
      >
    </div>
  </div>
</section>
